/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  font-family: Arial, sans-serif;
  background-color: #023047;
  color: #caf0f8;
  overflow: hidden; /* Prevent body from scrolling */
}

header {
  width: 40%; /* Adjust this percentage as needed */
  padding: 10em;
}

header > h1 {
  margin-bottom: 1em;
}

header > h1, h2, h3, h4, h5 {
  margin-bottom: 1em;
}

main {
  width: 60%; /* Adjust this percentage as needed */
  padding: 20px;
  overflow: auto; /* Allow main to scroll */
  height: 100vh; /* Adjust height to fit the viewport */
  overflow: -moz-scrollbars-none; /* Hide scrollbars in Firefox */
  -ms-overflow-style: none; /* Hide scrollbars in IE and Edge */
}

main::-webkit-scrollbar {
  display: none; /* Hide scrollbars in WebKit browsers */
}

main > p {
  margin: 6em 4em;
}

/* Style for section */
section {
  margin: 3em 0em;
  display: flex;
}

section h4 {
  color: #adb5bd; /* Greyed-out color for years */
  margin-right: 1em;
  flex-shrink: 0; /* Prevent h3 from shrinking */
}

section h3 {
  margin-bottom: 0.5em;
}

/* Style for list items as buttons */
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none; /* Remove default list styling */
  padding: 0;
}

ul a {
  text-decoration: none; /* Remove underline from links */
  margin-right: 1em;
}

ul li {
  background-color: #caf0f8; /* Button background color */
  color: #023047; /* Button text color */
  padding: 10px 20px; /* Button padding */
  margin: 5px 0; /* Spacing between buttons */
  border-radius: 15px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transition effects */
}

ul li:hover {
  background-color: #90e0ef; /* Lighter background on hover */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}
